<div class="main_container">
<script>
//var img1 = "assets/nathan_maton_gameful.png";
//document.write("<img src=\"" + img1 + "\" >");
</script>
	
	
	
	<%= link_to image_tag("nathan_maton_gameful.png", alt: "Gameful"), 'http://rubyonrails.org/', :class => "large_image" %>
	<%= link_to image_tag("nathan_maton_bvw.png", alt: "Beans vs. Waffles"), 'http://rubyonrails.org/', :class => "large_image" %>
	<%= link_to image_tag("nathan_maton_4see.png", alt: "Gameful"), 'http://rubyonrails.org/', :class => "large_image" %>
	<%= link_to image_tag("nathan_maton_foursquare_i_voted.png", alt: "Gameful"), 'http://rubyonrails.org/', :class => "large_image" %>
	<%= link_to image_tag("nathan_maton_foursquare_i_voted.png", alt: "Gameful"), 'http://rubyonrails.org/', :class => "large_image" %>
	<%= link_to image_tag("nathan_maton_foursquare_i_voted.png", alt: "Gameful"), 'http://rubyonrails.org/', :class => "large_image" %>
	<%= link_to image_tag("nathan_maton_gameful.png", alt: "Gameful"), 'http://rubyonrails.org/', :class => "large_image" %>
	<%= link_to image_tag("nathan_maton_gameful.png", alt: "Gameful"), 'http://rubyonrails.org/', :class => "large_image" %>
	<%= link_to image_tag("nathan_maton_gameful.png", alt: "Gameful"), 'http://rubyonrails.org/', :class => "large_image" %>
	<%= link_to image_tag("nathan_maton_gameful.png", alt: "Gameful"), 'http://rubyonrails.org/', :class => "large_image" %>
	<%= link_to image_tag("nathan_maton_gameful.png", alt: "Gameful"), 'http://rubyonrails.org/', :class => "large_image" %>
	

</div>
<!--
<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
-->