<!DOCTYPE html>
<html>
  <head>
	<title>Nathan Maton Porfolio</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>


  </head>
  <body>
      <%= render 'layouts/header' %>
	  <!-- <div class="container"> THIS CONTAINER CLASS IS FROM BOOTSTRAP-->
	  <div>
		<%= yield %>
	  </div>  
        <%= render 'layouts/footer' %>

  </body>
</html>